<section class="wrapper" style="width:87%;height:800px;margin-left:auto;margin-right:auto;margin-top: 20px;">
	<div style="width:100%;height:350px;display: table">
    	<div style="background-image:url('assets/images/wonderWoman.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: contain;position: relative;">
    		<div id="bottom-div" style="width:100%;height:70px;background-color:#f4e6c3;position: absolute;bottom: 0;" ng-click="indexVm.getInsurance()">
    			<p style="text-align: center;margin-top: 15px;">FOR INDIVIDUALS</p>
    			<p style="text-align: center;margin-top: 5px;">Your life partner.</p>
    		</div>
    	</div>
   		<div style="background-image:url('assets/images/family.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: cover;position: relative;">
   		    <div id="bottom-div" style="width:100%;height:70px;background-color:#f4e6c3;position: absolute;bottom: 0;" ng-click="indexVm.getInsurance()">
    			<p style="text-align: center;margin-top: 15px;">FOR FAMILY</p>
    			<p style="text-align: center;margin-top: 5px;">Insurance for your loved ones.</p>
    		</div>
    	</div>
 		<div style="background-image:url('assets/images/bigFamily.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: contain;position: relative;">
   		    <div id="bottom-div" style="width:100%;height:90px;background-color:#f4e6c3;position: absolute;bottom: 0;" ng-click="indexVm.getInsurance()">
    			<p style="text-align: center;margin-top: 15px;">FOR ALL GENERATIONS</p>
    			<p style="text-align: center;margin-top: 5px;">Insurance for those who care about the safety of their dearest.</p>
    		</div>
    	</div>
   		
    </div>
    <div style="width:100%;height:350px;display: table">
    <div style="background-image:url('assets/images/travelers.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: contain;position: relative;">
    	<div id="bottom-div" style="width:100%;height:70px;background-color:#f4e6c3;position: absolute;bottom: 0;"  ng-click="indexVm.getInsurance()">
   			<p style="text-align: center;margin-top: 15px;">FOR TRAVELERS</p>
   			<p style="text-align: center;margin-top: 5px;">You only live once.</p>
    	</div>
    </div>
   	<div style="background-image:url('assets/images/home.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: contain;position: relative;">
   	<div id="bottom-div" style="width:100%;height:70px;background-color:#f4e6c3;position: absolute;bottom: 0;"  ng-click="indexVm.getInsurance()">
   			<p style="text-align: center;margin-top: 15px;">FOR HOME</p>
   			<p style="text-align: center;margin-top: 5px;">Protect your home.</p>
    	</div></div>
   	<div style="background-image:url('assets/images/familyCar.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: contain;background-position: center;position: relative;">
   	<div id="bottom-div" style="width:100%;height:70px;background-color:#f4e6c3;position: absolute;bottom: 0;"  ng-click="indexVm.getInsurance()">
   			<p style="text-align: center;margin-top: 15px;">FOR CAR</p>
   			<p style="text-align: center;margin-top: 5px;">Drive carefree.</p>
    	</div></div>
    </div>
</section>