<md-step label="Payment choices"
         md-complete="vm.stepData[4].data.completed"
         ng-disabled="vm.stepProgress < 5"> <md-step-body>
    <form name="step5">
        <md-content class="md-padding">
            <div layout="column" layout-align="center center"
                 style="min-height: 200px">
                <div layout="row" style="margin-bottom:20px;">
                    <h4>Total Price: </h4>
                </div>

                <md-radio-group ng-model="vm.pay">
                    <md-radio-button value="Pay1">Pay1</md-radio-button>
                    <md-radio-button value="Pay2"> Pay2 </md-radio-button>
                    <md-radio-button value="Pay3">Pay3</md-radio-button>
                </md-radio-group>
                <md-button class="gold-btn">PAY</md-button>
            </div>
        </md-content>
    </form>
</md-step-body> </md-step>