<md-step label="Personal Info"
         md-complete="vm.stepTwo.notCompleted"
         ng-disabled="vm.checkIfEnabled()">
    <md-step-body>
        <form name="step2">

            <md-step-actions layout="row">
                <div flex>
                    <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>

                </div>
                <div flex layout="row" layout-align="end top">
                    <md-button class="md-warn">CANCEL</md-button>
                    <md-button ng-disabled="vm.showBusyText"
                               ng-click="vm.submitCurrentStep('home')"
                               class="gold-btn">GET HOME INSURANCE
                    </md-button>
                    <md-button ng-disabled="vm.showBusyText"
                               ng-click="vm.submitCurrentStep('car')"
                               class="gold-btn">GET CAR INSURANCE
                    </md-button>
                    <md-button ng-disabled="vm.showBusyText"
                               ng-click="vm.submitCurrentStep('none')"
                               class="gold-btn">CONTINUE TO PAYMENT
                    </md-button>
                </div>
            </md-step-actions>
        </form>
    </md-step-body>
</md-step>