<div ng-controller="insuranceStepperController as vm" layout="row">
	<md-content flex="nogrow" style="width: 100%; ">
	<div>
		<md-card> <md-toolbar>
		<div class="md-toolbar-tools" style="background-color: #d4b355;">
			<h2>
				<md-icon md-svg-icon="md-menu"></md-icon>
				<span>Get Insurance</span>
			</h2>
		</div>
		</md-toolbar> <md-stepper-card-content class="md-no-padding">
		<md-steppers md-dynamic-height md-disable-tabs-behavior="true"
			md-stretch-steppers="always" md-selected="vm.selectedStep"
			md-busy-text="'Processing...'" md-busy="vm.showBusyText">
		<md-step label="Traveling details"
			md-complete="vm.stepData[0].data.completed"
			ng-disabled="vm.stepProgress < 1"> <md-step-body>
		<form name="step1"
			ng-submit="vm.submitCurrentStep(vm.stepData[0].data)">
			<md-content class="md-padding">
			<div layout="row" layout-align="center top">
				<div flex="nogrow" style="width: 700px;margin-left: 100px;">
					<div style="width: 20%; float: left; padding-top: 10px;">
							<p>Duration (from/to):</p>
						</div>
					<div style="width: 80%;">
						<div flex-gt-xs style="width: 200px; float: left;margin-right: 20px;margin-left: -10px;">
							<md-datepicker ng-model="vm.fromDate" md-placeholder="Enter date"
								md-min-date="vm.minFromDate" md-max-date="vm.maxFromDate"
								md-date-filter="vm.compareDates"> </md-datepicker>
						</div>
						<div flex-gt-xs style="width: 200px; float: right;">
							<md-datepicker ng-model="vm.toDate" md-placeholder="Enter date"
								md-min-date="vm.fromDate" md-max-date="vm.maxToDate" 
								md-date-filter="vm.compareDates"></md-datepicker>
						</div>
					</div>
					<div layout style="width: 100%;">
						<div style="width: 20%; float: left; padding-top: 25px;">
							<p>Reons:</p>
						</div>
						<div style="width: 80%;">
							<md-input-container>
							<md-select ng-model="vm.selectedReon"
								md-selected-text="vm.getSelectedReon()"> <md-optgroup
								label="reons"> <md-option ng-value="reon"
								ng-repeat="reon in vm.reons">{{reon}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
					<div layout>
						<div flex="20" layout style="width:20%;float:left;padding-top:15px;">
							<p>Number of people: {{vm.numberOfPeople}}</p>
						</div>
						<md-slider flex class="md-primary" md-discrete
							ng-model="vm.numberOfPeople" step="1" min="1" max="10"
							aria-label="rating" style="padding-right: 130px;"> </md-slider>
					</div>
					<div layout="row" layout-wrap flex>
						<div style="width: 20%; float: left; padding-top:10px;">
							<p>Age group:</p>
						</div>
						<div
							style="width: 70%; float: right; display: inline-flex; padding-top: 10px;">
							<div class="demo-select-all-checkboxes" flex="100"
								ng-repeat="item in vm.itemsCheckbox">
								<md-checkbox class="gold" ng-checked="vm.exists(item, vm.selected)"
									ng-click="vm.toggle(item, vm.selected)"> {{ item }} </md-checkbox>
							</div>
						</div>
					</div>
					<div layout="row">
						<div style="width: 20%; float: left; padding-top: 25px;">
							<p>Play Sport:</p>
						</div>
						<div style="width: 10%; float: left;">
							<md-switch class="" md-no-ink
								aria-label="Switch No Ink" ng-model="vm.playSport">
							</md-switch>
						</div>
						<div ng-if="vm.playSport" layout="row"
							style="width: 70%; float: right;">
							<md-input-container> <label>Sport</label> <md-select
								ng-model="vm.selectedSport"
								md-selected-text="vm.getSelectedSport()"> <md-optgroup
								label="sports"> <md-option ng-value="sport"
								ng-repeat="sport in vm.sports">{{sport}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
					<div layout="row">
						<div style="width: 20%; padding-top: 25px;float:left;">
							<p>Amount:</p>
						</div>
						<div style="width: 80%;">
							<md-input-container><md-select
								ng-model="vm.selectedAmount"
								md-selected-text="vm.getSelectedAmount()"> <md-optgroup
								label="amounts"> <md-option ng-value="amount"
								ng-repeat="amount in vm.amounts">{{amount}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
				</div>
			</div>
			</md-content>
			<md-step-actions layout="row">
			<div flex layout="row" layout-align="end top">
				<md-button class="md-warn">CANCEL</md-button>
				<md-button type="submit" ng-disabled="" class="gold-btn">NEXT</md-button>
			</div>
			</md-step-actions>
		</form>
		</md-step-body> </md-step> 
		<md-step label="Personal Info"
			md-complete="vm.stepData[1].data.completed"
			ng-disabled="vm.stepProgress < 2"> <md-step-body>
		<form name="step2">
			<md-content class="md-padding">
			<div layout="row" layout-align="center top">
				<div flex="nogrow" style="width: 400px">
					<md-input-container class="md-block"> <label>Firstname</label> <input name="firstname"
						ng-model="vm.stepData[1].data.firstname"/> </md-input-container>
					<md-input-container class="md-block input-adjust"> <label>Lastname</label> <input name="lastname"
						ng-model="vm.stepData[1].data.lastname" /> </md-input-container>
					<md-input-container class="md-block input-adjust"> <label>Personal ID</label> <input name="personalId"
						ng-model="vm.stepData[1].data.personalId" /> </md-input-container>
					<md-input-container class="md-block input-adjust"> <label>Passport</label> <input name="passport"
						ng-model="vm.stepData[1].data.passport" /> </md-input-container>
					<md-input-container class="md-block input-adjust"> <label>Address</label> <input name="address"
						ng-model="vm.stepData[1].data.address" /> </md-input-container>
					<md-input-container class="md-block input-adjust" style="margin-bottom: -20px;"> <label>Phone number</label> <input name="phone"
						ng-model="vm.stepData[1].data.phone" /> </md-input-container>
						<div layout="row">
						<div style="width: 20%; float: left; padding-top: 25px;">
							<p>Carrier?</p>
						</div>
						<div style="width: 10%; float: left;">
							<md-switch md-no-ink
								aria-label="Switch No Ink" ng-model="vm.carrier">
							</md-switch>
						</div>
					</div>
					<div ng-if="vm.carrier" 
							style="width: 100%;">
						<md-input-container style="margin-top: 0px;" class="md-block"> <label>Email</label> <input name="email"
						ng-model="vm.stepData[1].data.email" /> </md-input-container>
						</div>
					</div>
				</div>
			</md-content>
			<md-step-actions layout="row">
			<div flex>
				<md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
				
			</div>
			<div flex layout="row" layout-align="end top">
				<md-button class="md-warn">CANCEL</md-button>
				<md-button ng-disabled="vm.showBusyText"
					ng-click="vm.submitCurrentStep(vm.stepData[1].data)"
					class="gold-btn">NEXT</md-button>
			</div>
			</md-step-actions>
		</form>
		</md-step-body> </md-step> 
		<md-step label="Home insurance"
			md-complete="vm.stepData[2].data.completed"
			ng-disabled="vm.stepProgress < 3"> <md-step-body>
		<form name="step3">
			<md-content class="md-padding">
			<div layout="row" layout-align="center top">
				<div flex="nogrow" style="width: 700px;margin-left: 100px;">
					<div style="width: 20%; float: left; padding-top: 10px;">
							<p>Duration (from/to):</p>
						</div>
					<div style="width: 80%;">
						<div flex-gt-xs style="width: 200px; float: left;margin-right: 20px;margin-left: -10px;">
							<md-datepicker ng-model="vm.fromDate" md-placeholder="Enter date"
								md-min-date="vm.minFromDate" md-max-date="vm.maxFromDate"
								md-date-filter="vm.compareDates"> </md-datepicker>
						</div>
						<div flex-gt-xs style="width: 200px; float: right;">
							<md-datepicker ng-model="vm.toDate" md-placeholder="Enter date"
								md-min-date="vm.fromDate" md-max-date="vm.maxToDate" 
								md-date-filter="vm.compareDates"></md-datepicker>
						</div>
					</div>

					
					<div layout="row" style="width: 100%;margin-top: -10px;">
						<div style="width: 20%; padding-top: 25px;float:left;">
							<p>Area of home:</p>
						</div>
						<div style="width: 80%;">
							<md-input-container><md-select
								ng-model="vm.selectedAreaOfHome"
								md-selected-text="vm.getSelectedAreaOfHome()"> <md-optgroup
								label="areas"> <md-option ng-value="area"
								ng-repeat="area in vm.areas">{{area}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
					
					<div layout="row" style="width: 100%;margin-top: -10px;">
						<div style="width: 20%; padding-top: 25px;float:left;">
							<p>Age of home:</p>
						</div>
						<div style="width: 80%;">
							<md-input-container><md-select
								ng-model="vm.selectedAgeOfHome"
								md-selected-text="vm.getSelectedAgeOfHome()"> <md-optgroup
								label="age"> <md-option ng-value="age"
								ng-repeat="age in vm.ageOfHome">{{age}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
					
					<div layout="row" style="width: 100%;margin-top: -10px;">
						<div style="width: 20%; padding-top: 25px;float:left;">
							<p>Home value:</p>
						</div>
						<div style="width: 80%;">
							<md-input-container><md-select style="color:#f0d68f;"
								ng-model="vm.selectedHomeValue"
								md-selected-text="vm.getSelectedHomeValue()"> <md-optgroup
								label="values"> <md-option ng-value="value"
								ng-repeat="value in vm.values">{{value}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
					
					<div layout="row" style="width: 100%;margin-top: -10px;margin-bottom: 15px;">
						<div style="width: 20%; padding-top: 25px;float:left;">
							<p>Type of risk:</p>
						</div>
						<div style="width: 80%;">
							<md-input-container><md-select
								ng-model="vm.selectedRisk"
								md-selected-text="vm.getSelectedRisk()"> <md-optgroup
								label="risks"> <md-option ng-value="risk"
								ng-repeat="risk in vm.risks">{{risk}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
					
					<md-input-container class="md-block input-adjust" style="width: 60%;"> <label>Owner Firstname
					</label> <input name="firstname"
						ng-model="vm.stepData[1].data.lastname" /> </md-input-container>
						<md-input-container class="md-block input-adjust" style="width: 60%;"> <label>Owner Lastname
					</label> <input name="lastname"
						ng-model="vm.stepData[1].data.lastname" /> </md-input-container>
					<md-input-container class="md-block input-adjust" style="width: 60%;"> <label>Personal ID</label> <input name="personalId"
						ng-model="vm.stepData[1].data.personalId" /> </md-input-container>
					<md-input-container class="md-block input-adjust" style="margin-top: -10px;width: 60%;"> <label>Address</label> <input name="address"
						ng-model="vm.stepData[1].data.address" /> </md-input-container>
						</div>
				
				</div>
			</md-content>
			<md-step-actions layout="row">
			<div flex>
				<md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
				
			</div>
			<div flex layout="row" layout-align="end top">
				<md-button class="md-warn">CANCEL</md-button>
				<md-button type="submit" ng-disabled="" class="gold-btn" ng-click="vm.submitCurrentStep(vm.stepData[2].data)">SKIP</md-button>
				<md-button type="submit" ng-disabled="" class="gold-btn" ng-click="vm.submitCurrentStep(vm.stepData[2].data)">NEXT</md-button>
			</div>
			</md-step-actions>
		</form>
		</md-step-body> </md-step> 
		
		<md-step label="Car insurance"
			md-complete="vm.stepData[3].data.completed"
			ng-disabled="vm.stepProgress < 4"> <md-step-body>
		<form name="step4">
			<md-content class="md-padding">
			<div layout="row" layout-align="center top">
				<div flex="nogrow" style="width: 700px;margin-left: 100px;">
					<div style="width: 20%; float: left; padding-top: 10px;">
							<p>Duration (from/to):</p>
						</div>
					<div style="width: 80%;">
						<div flex-gt-xs style="width: 200px; float: left;margin-right: 20px;margin-left: -10px;">
							<md-datepicker ng-model="vm.fromDate" md-placeholder="Enter date"
								md-min-date="vm.minFromDate" md-max-date="vm.maxFromDate"
								md-date-filter="vm.compareDates"> </md-datepicker>
						</div>
						<div flex-gt-xs style="width: 200px; float: right;">
							<md-datepicker ng-model="vm.toDate" md-placeholder="Enter date"
								md-min-date="vm.fromDate" md-max-date="vm.maxToDate" 
								md-date-filter="vm.compareDates"></md-datepicker>
						</div>
					</div>
					<div layout="row" style="width: 100%;">
						<div style="width: 20%; padding-top: 25px;float:left;">
							<p>Road assistance:</p>
						</div>
						<div style="width: 80%;">
							<md-input-container><md-select
								ng-model="vm.selectedAssistance"
								md-selected-text="vm.getSelectedAssistance()"> <md-optgroup
								label="assistance"> <md-option ng-value="assistance"
								ng-repeat="assistance in vm.assistances">{{assistance}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
					
					<div layout="row" style="width: 100%;margin-top: -10px;">
						<div style="width: 20%; padding-top: 25px;float:left;">
							<p>Repair price:</p>
						</div>
						<div style="width: 80%;">
							<md-input-container><md-select
								ng-model="vm.selectedRepairPrice"
								md-selected-text="vm.getSelectedRepairPrice()"> <md-optgroup
								label="prices"> <md-option ng-value="price"
								ng-repeat="price in vm.repairPrices">{{price}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
					
					<div layout="row" style="width: 100%;margin-top: -10px;">
						<div style="width: 20%; padding-top: 25px;float:left;">
							<p>Hotel accommodation:</p>
						</div>
						<div style="width: 80%;">
							<md-input-container><md-select
								ng-model="vm.selectedAccommodationDay"
								md-selected-text="vm.getSelectedAccommodationDay()"> <md-optgroup
								label="days"> <md-option ng-value="day"
								ng-repeat="day in vm.accommodationDays">{{day}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
					
					<div layout="row" style="width: 100%;margin-top: -10px;margin-bottom: 15px;">
						<div style="width: 20%; padding-top: 25px;float:left;">
							<p>Alternative transport:</p>
						</div>
						<div style="width: 80%;">
							<md-input-container><md-select
								ng-model="vm.selectedTransport"
								md-selected-text="vm.getSelectedTransport()"> <md-optgroup
								label="transports"> <md-option ng-value="transport"
								ng-repeat="transport in vm.transports">{{transport}}</md-option> </md-optgroup> </md-select> </md-input-container>
						</div>
					</div>
					
					
					<md-input-container class="md-block input-adjust" style="width: 60%;">
					 <label>Owner Firstname</label> <input name="area" ng-model="vm.stepData[3].data.firstname" /> </md-input-container>
					 
					 <md-input-container class="md-block input-adjust" style="width: 60%;">
					 <label>Owner Lastname</label> <input name="area" ng-model="vm.stepData[3].data.lastname" /> </md-input-container>
					 
					  <md-input-container class="md-block input-adjust" style="width: 60%;">
					 <label>Personal ID</label> <input name="area" ng-model="vm.stepData[3].data.personlId" /> </md-input-container>
					 
					 <md-input-container class="md-block input-adjust" style="width: 60%;">
					 <label>Car Brand</label> <input name="area" ng-model="vm.stepData[3].data.carBrand" /> </md-input-container>
					 
					 <md-input-container class="md-block input-adjust" style="width: 60%;">
					 <label>Car Type</label> <input name="area" ng-model="vm.stepData[3].data.carType" /> </md-input-container>
					 
					 <md-input-container class="md-block input-adjust" style="width: 60%;">
					 <label>Year of Manufacture</label> <input name="area" ng-model="vm.stepData[3].data.yearOfManufacture" /> </md-input-container>
					 
					 <md-input-container class="md-block input-adjust" style="width: 60%;">
					 <label>Licence Plate Number</label> <input name="area" ng-model="vm.stepData[3].data.plateNumber" /> </md-input-container>
					 
					  <md-input-container class="md-block input-adjust" style="width: 60%;">
					 <label>Undercarriage Number</label> <input name="area" ng-model="vm.stepData[3].data.undercarriageNumber" /> </md-input-container>
					 
					 
					</div>
				</div>
			</md-content>
			<md-step-actions layout="row">
			<div flex>
				<md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
				
			</div>
			<div flex layout="row" layout-align="end top">
				<md-button class="md-warn">CANCEL</md-button>
				<md-button type="submit" ng-disabled="" class="gold-btn" ng-click="vm.submitCurrentStep(vm.stepData[3].data)">SKIP</md-button>
				<md-button type="submit" ng-disabled="" class="gold-btn" ng-click="vm.submitCurrentStep(vm.stepData[3].data)">NEXT</md-button>
			</div>
			</md-step-actions>
		</form>
		</md-step-body> </md-step> 
		<md-step label="Payment choices"
			md-complete="vm.stepData[4].data.completed"
			ng-disabled="vm.stepProgress < 5"> <md-step-body>
		<form name="step5">
			<md-content class="md-padding">
			<div layout="column" layout-align="center center"
				style="min-height: 200px">
				<div layout="row" style="margin-bottom:20px;">
					<h4>Total Price: </h4>
				</div>
				
				<md-radio-group ng-model="vm.pay">		
			      <md-radio-button value="Pay1">Pay1</md-radio-button>
			      <md-radio-button value="Pay2"> Pay2 </md-radio-button>
			      <md-radio-button value="Pay3">Pay3</md-radio-button>
		    </md-radio-group>
				<md-button class="gold-btn">PAY</md-button>
			</div>
			</md-content>
		</form>
		</md-step-body> </md-step> </md-steppers> </md-stepper-card-content> </md-card>
	</div>
	</md-content>
</div>