<div>
    <md-content>
        <md-toolbar class="stay-top" ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav()">
                    <md-icon md-svg-icon="image/ic_menu_white_24px.svg"></md-icon>
                </md-button>
                <h2><span>{{page.title}}</span></h2>
                <span flex></span>
                <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                    <md-icon md-svg-icon="image/ic_search_white_24px.svg"></md-icon>
                </md-button>
                <h3 class="toolbar-item"><span>{{user.firstName}} {{user.lastName}}</span></h3>
                <md-button class="md-raised" ng-click="logout()">
                    Logout
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="stay-top" ng-show="showSearch" style="background-color: white">
            <div class="md-toolbar-tools">
                <md-button ng-click="showSearch = !showSearch;  searchText = ''; emitSearchQuery(searchText);" aria-label="Back">
                    <md-icon md-svg-icon="image/ic_arrow_back_black_24px.svg"></md-icon>
                </md-button>
                <md-input-container md-theme="input" flex layout="start center">
                    <label>&nbsp;</label>
                    <input ng-model="searchText" placeholder="Search..." ng-change="emitSearchQuery(searchText)">
                </md-input-container>
            </div>
        </md-toolbar>
    </md-content>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 stay-top" md-component-id="left">
        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav()">
                    <md-icon md-svg-icon="image/ic_arrow_back_white_24px.svg"></md-icon>
                </md-button>
                <h2><span>{{page.title}}</span></h2>
            </div>
        </md-toolbar>
    </md-sidenav>
    <section id="container" class="page active">
        <ui-view></ui-view>
    </section>
    <md-button class="md-primary md-fab md-fab-bottom-right"
               aria-label="Add" ng-click="add()" ng-if="page.current != 0  && page.current != 0.1">
        <md-icon md-svg-src="image/ic_add_white_24px.svg"></md-icon>
    </md-button>
</div>